# Environment
NODE_ENV="development"
LOG_LEVEL="info"
DASHBOARD_PORT="8080"
API_PORT="8081"
HELIA_SECRET_KEY=""

# S3/MinIO Configuration
S3_ENDPOINT=""
S3_REGION=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_BLOCK_BUCKET=""
S3_DATA_BUCKET=""
